SECRET = 'secret stuff here'

#

# DATABASE_URL = postgres://username:password@localhost:5432/dbname
# uncomment to enable

PORT = 3001

## any value as described in https://www.npmjs.com/package/jsonwebtoken
LOGIN_EXPIRATION_TIME = 2h

## username and & password settings

PW_MIN_LENGTH = 8
PW_MAX_LENGTH = 100
# PW_VALIDATIONS = /\d/;/^[a-z0-9_]+$/i # not implemented – must be changed in code

USERNAME_MIN_LENGTH = 3
USERNAME_MAX_LENGTH = 10
# USERNAME_VALIDATIONS = /^[a-z0-9_]+$/i not implemented – must be changed in code

## bcrypt salt rounds
SALT_ROUNDS = 10
